.header{
    background-image: url(./images/days.png);
    color: rgb(223, 134, 33);
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    text-align: center;
    font-weight: bolder;
}

body{
    box-sizing: border-box;
    background-color: rgb(236, 172, 188);
}

li{
    margin: 0.5%;
    padding: 10px 0;
    background-color:#ddd;
    display: inline-block;
    width: 12.6%;
    color: black;
    text-align: center;
}
  
/* .weekdayLi{ */
    /* display: inline-block;
    width: 12.6%;
    color: black;
    text-align: center; */
    /* margin-top: 0.5%; */
    /* margin-bottom: 0.5%; */
    /* height: 13.6%; */
/* } */

.message{
    text-align: center;
    font-weight: bold;
    color: black;
    margin-top: 2%;
    font-size: 20px;
}

.errorMessage{
    text-align: center;
}

.dates{
    margin-top: 5%;
    text-align: center;
}

.dates .date1{
    padding-bottom: 1.5%;
}

.dates .date2{
    padding-top: 1.5%;
}

.green{
    background-color: green;
}

.purple{
    background-color: purple;
}

.red{
    background-color: red;
}